<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        <link rel="stylesheet" href="https://bootswatch.com/4/sandstone/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
        {% block stylesheets %}{% endblock %}
    </head>

    <body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="{{path('home')}}">DicoSéries</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="{{path('series_liste')}}">Séries</a>
            </li>
            {% if is_granted('ROLE_ADMIN') %}
              <li class="nav-item">
                <a class="nav-link" href="{{path('NewSerie')}}">Créer une série</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{path('NewSaison')}}">Créer une saison</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{path('NewEpisode')}}">Créer un épisode</a>
              </li>
            {% endif %}
          </ul>

            <ul class="navbar-nav">
            {% if not app.user %}
              <li class="nav-item">
                <a href="{{path('security_login')}}" class="nav-link">
                  Connexion
                </a>
              </li>
            {% else %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                <div class="dropdown-menu dropdown-menu-right">
                  <a class="dropdown-item" href="{{path('profile')}}">Profile</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{{path('security_logout')}}">Déconnexion</a>
                </div>
              </li>
            {% endif %}
            </ul>
          </ul>
        </div>
      </nav>

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
